@using CarRepairGarage.Web.ViewModels.Garage;
@model GarageViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Garage Image">
        <div class="card-body text-left">
            <h4>@Model.Name</h4>
            <h6>City: <b>@Model.City</b></h6>
            <br />
            <a asp-controller="Garage" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            <a asp-controller="Appointment" asp-action="Index" asp-route-id="@Model.Id"
               class="btn btn-success">Reserve</a>
        </div>
    </div>
</div>