@using CarRepairGarage.Web.ViewModels.Garage;
@model IEnumerable<GarageViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
     style="background-image: url('https://dailygazette.com/wp-content/uploads/fly-images/225075/090921_CarusosAutoRepair_WEB_EM-06-e1631461805723-940x940.jpg');" width="1087" height="400">
    <h1 class="mb-3 h2">Jumbotron</h1>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
        labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
        neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
    </p>
</div>

<div class="row">
    @foreach (var garage in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@garage.ImageUrl" alt="House Image">
                <div class="card-body text-center">
                    <h4>@garage.Name</h4>

                    <h6>Address: <b>@garage.City</b></h6>

                    <br />
                    <a asp-controller="Garage" asp-action="Details" asp-route-id="@garage.Id"
                       class="btn btn-success">Details</a>
                    <a asp-controller="Appointment" asp-action="Index" asp-route-id="@garage.Id"
                       class="btn btn-success" style="color: yellow;">Reserve</a>
                </div>
            </div>
        </div>
    }
</div>
