@using CarRepairGarage.Web.ViewModels.Appointment;
@model AppointmentDetailsViewModel

<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-body">
            <p>Garage: <b>@Model.GarageName</b></p>
            <p>Service: <b>@Model.ServiceName</b></p>
            <p>Car VIN: <b class="vin" style="cursor: pointer;">@Model.CarVIN</b></p>
            <p>Date: <b>@Model.SelectedDate</b></p>
            <p>Time: <b>@Model.SelectedTime</b></p>
            @if (DateTime.Parse(Model.SelectedDate) < DateTime.UtcNow)
            {
                <p>Status: <b style="color: red;">Expired</b></p>
            }
            else
            {
                if (Model.IsApproved == null)
                {
                    <p>Status: <b style="color: yellow;">Pending</b></p>
                }
                else if (Model.IsApproved == true)
                {
                    <p>Status: <b style="color: green;">Approved</b></p>
                }
                else
                {
                    <p>Status: <b style="color: red;">Rejected</b></p>
                }
            }
            <a asp-area="Manager" asp-controller="Appointment" asp-action="Approve" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.RefererUrl" class=" btn btn-success">Approve</a>
            <a asp-area="Manager" asp-controller="Appointment" asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-warning" onclick="return confirmReject()">Reject</a>
        </div>
    </div>
</div>