@using CarRepairGarage.Web.ViewModels.Garage;
@model GarageViewModel

@{
    ViewData["Title"] = "Garage Details Page";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="Garage Image">
        </div>

        <div class="col-4">
            <div class="card border-0">
                <p style="font-size: 25px;"><u>@Model.Name</u></p>
                <p>Category: <b>@Model.Category</b></p>
                <p>City: <b>@Model.City</b></p>
                <p>Address: <b>@Model.StreetName</b> <b>@Model.StreetNumber</b></p>
                <p>Services:</p>
                <div class="form-inline">
                    @foreach (var service in @Model.Services)
                    {
                        <p>-- @service</p>
                    }
                </div>
                <a style="width: 20rem;" asp-controller="Appointment" asp-action="Index" asp-route-id="@Model.Id"
                   class="btn btn-success">Reserve</a>
            </div>
        </div>

        <div class="col-4">
            @if(Model.NoteTitle != null)
            {
                <img class="card-img-top" style="width: 20rem;" src="@Model.NoteImageUrl" alt="Note Image">
                <p style="font-size: 25px;"><u>@Model.NoteTitle</u></p>
                <p>@Model.NoteDescription</p>
            }
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initMap();
    });
</script>

<partial name="_GoogleMapsScrypt" />