@using CarRepairGarage.Web.ViewModels.Car;
@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Car Page";
}
@if (Model.Count() < 1)
{
    <p>Your Garege is empty. Please add cars!</p>
}
<div class="container">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p style="font-size: 25px;"><u>@car.VIN</u></p>
                        <p>Model: <b>@car.Make</b></p>
                        <p>Model: <b>@car.CarModel</b></p>
                        <p>Year: <b>@car.Year</b></p>
                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Car" asp-action="Remove" asp-route-id="@car.Id" class="btn btn-warning" onclick="return confirmDelete()">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<partial name="_DeleteConfirmPartial" />