@using CarRepairGarage.Web.ViewModels.Category;
@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Category Page";
}
@foreach (var category in Model)
{
    <div class="container" style="display:inline">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" style="width: 20rem;"
                     src="@category.ImageUrl" alt="House Image">
            </div>
            <div class="card col-8 border-0">
                <p style="font-size:25px;"><u>@category.Name</u></p>

                <p>Description:<b>@category.Description</b></p>
                <p>Garages:</p>
                <div class="form-inline">
                    @foreach (var garage in category.Garages)
                    {
                        <p><a asp-controller="Garage" asp-action="Detail" asp-route-id="@garage.Id">@garage.Name</a></p>
                    }
                </div>
            </div>

        </div>
    </div>
}