@using CarRepairGarage.Web.ViewModels.Category;
@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h2>
    Total Categories: (@Model.Count())
    <span>
        <a class="btn btn-info" asp-area="Admin" asp-controller="Category" asp-action="AddCategory">Add New Category</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Garages</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in this.Model)
        {
            <tr>
                <th scope="row">@category.Name</th>
                <td>
                    <img class="align-self-center" src="@category.ImageUrl" style="width:180px;height:120px;">
                </td>
                <td>@category.Description</td>
                <td>@category.Garages.Count()</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger btn-sm"
                                asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" onclick="return confirmDelete()">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Shared/_DeleteConfirmPartial.cshtml" />