@using CarRepairGarage.Web.ViewModels.Garage;
@model ModifyGarageViewModel
@inject CarRepairGarage.Services.Contracts.ICategoryService categoryService;
@inject CarRepairGarage.Services.Contracts.IServiceService serviceService;

@{
    ViewData["Title"] = "Create Garage";
    var categories = await categoryService.GetAllCategoryAsync();
    var services = await serviceService.GetAllServiceAsync();
}

<form asp-action="Modify">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" name="Name" class="form-control"
               placeholder="Name">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" name="ImageUrl" class="form-control"
               placeholder="ImageUrl">
        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" required>
            <option value="">-- Select Garage --</option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Services</label>
        @foreach (var service in services)
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       name="Services"
                       value="@service.Id"
                @(Model.Services.Contains(service.Id) ? "checked" : "")>
                <label class="form-check-label">@service.Name</label>
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" id="City" name="City" class="form-control"
               placeholder="City">
        <span asp-validation-for="City" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StreetName"></label>
        <input asp-for="StreetName" id="StreetName" name="StreetName" class="form-control"
               placeholder="Street Name">
        <span asp-validation-for="StreetName" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StreetNumber"></label>
        <input asp-for="StreetNumber" id="StreetNumber" name="StreetNumber" class="form-control">
        <span asp-validation-for="StreetNumber" class="small textdanger"></span>
    </div>

    <input type="submit" value="Modify" class="btn btn-primary" />

</form>